In [1]:
#Importing Libraries
import pandas as pd
import numpy as np

In [2]:
#reading the excel sheet
post =pd.read_excel(r"Task - 1.xlsx",sheet_name='Raw_data')

In [3]:
#Checking size of post
print(post.shape)

(10000, 9)

In [4]:
#A view of the sheet read
post.head()

,User_id,Post_id,Upvote,Downvote,Views,Comment,Share,Time Spent,Link Opened
0,133,462,2.5,1.5,5,31,14.0,56.93,2
1,89,673,48.0,28.8,96,6,10.0,52.67,2
2,82,566,53.0,31.8,106,12,27.0,37.95,1
3,122,553,17.5,10.5,35,17,38.0,58.78,1
4,142,76,52.0,31.2,104,22,17.0,20.58,2

In [5]:
#reading the file and hiding index given by inbuilt function
post.to_excel('Task - 1.xlsx',sheet_name='Raw_data',index=False)

In [6]:
#Finding the number of unique users
users_n = post.User_id.unique().shape[0]
print(users_n)

200

In [7]:
#Finding the number of unique posts
posts_n = post.Post_id.unique().shape[0]
print(posts_n)

1000

In [8]:
#Fully describing each variable
post.describe()

,User_id,Post_id,Upvote,Downvote,Views,Comment,Share,Time Spent,Link Opened
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,100.380100,499.896600,51.973713,19.356630,99.597300,25.023500,20.118850,30.711544,1.003900
std,57.849087,288.807116,35.567060,18.883753,57.508991,14.776826,11.898994,17.005498,0.817528
min,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000
25%,50.000000,248.000000,21.280000,6.100000,50.000000,12.000000,10.000000,15.870000,0.000000
50%,100.000000,500.000000,45.900000,13.750000,99.000000,25.000000,20.000000,30.935000,1.000000
75%,151.000000,750.000000,80.600000,27.000000,149.000000,38.000000,30.000000,45.210000,2.000000
max,200.000000,1000.000000,190.000000,161.000000,200.000000,50.000000,40.000000,60.000000,2.000000

In [9]:
#defining new rating
score = ((.38)*post['Upvote']*(1/190)) - ((.14)*post['Downvote']*(1/175)) + ((.50)*post['Views']*(1/200)) + ((.21)*post['Comment']*(1/50)) + ((.16)*post['Share']*(1/40)) - ((.15)*post['Time Spent']*(1/60)) + ((.04)*post['Link Opened']*(1/2))

In [10]:
#Making a new column according to the calculated new scores
post["Score"] = score
post.head()

,User_id,Post_id,Upvote,Downvote,Views,Comment,Share,Time Spent,Link Opened,Score
0,133,462,2.5,1.5,5,31,14.0,56.93,2,0.100175
1,89,673,48.0,28.8,96,6,10.0,52.67,2,0.286485
2,82,566,53.0,31.8,106,12,27.0,37.95,1,0.429085
3,122,553,17.5,10.5,35,17,38.0,58.78,1,0.210550
4,142,76,52.0,31.2,104,22,17.0,20.58,2,0.487990

In [11]:
#view of the first 30 rows of the sheet along with score
post.head(30)

,User_id,Post_id,Upvote,Downvote,Views,Comment,Share,Time Spent,Link Opened,Score
0,133,462,2.5,1.5,5,31,14.0,56.93,2,0.100175
1,89,673,48.0,28.8,96,6,10.0,52.67,2,0.286485
2,82,566,53.0,31.8,106,12,27.0,37.95,1,0.429085
3,122,553,17.5,10.5,35,17,38.0,58.78,1,0.210550
4,142,76,52.0,31.2,104,22,17.0,20.58,2,0.487990
5,158,756,46.5,27.9,93,25,7.0,18.47,1,0.410005
6,165,606,84.0,50.4,168,26,24.0,57.20,0,0.609880
7,160,108,8.0,4.8,16,4,17.0,6.56,0,0.120560
8,166,326,47.5,28.5,95,38,39.0,9.03,2,0.642725
9,124,406,78.5,47.1,157,34,10.0,44.30,1,0.603870
10,57,443,18.0,10.8,36,9,7.0,54.65,1,0.066535
11,50,592,23.0,13.8,46,17,20.0,24.46,0,0.240210
12,31,779,69.5,41.7,139,1,5.0,44.54,1,0.385990
13,18,718,41.5,24.9,83,7,20.0,6.99,1,0.382505
14,157,560,66.0,39.6,132,12,32.0,41.21,1,0.525695
15,99,717,28.5,17.1,57,0,11.0,32.33,1,0.168995
16,145,434,1.0,0.6,2,41,39.0,37.78,0,0.240270
17,125,53,60.5,36.3,121,9,2.0,35.98,2,0.390310
18,171,927,19.0,11.4,38,1,5.0,16.60,1,0.126580
19,80,257,80.0,48.0,160,22,37.0,12.42,2,0.770950
20,62,322,72.5,43.5,145,35,19.0,22.31,0,0.639925
21,11,347,7.5,4.5,15,23,11.0,37.53,0,0.095675
22,21,153,24.0,14.4,48,14,40.0,55.32,2,0.276980
23,130,833,49.5,29.7,99,37,24.0,36.78,2,0.522190
24,28,61,4.0,2.4,8,3,38.0,13.85,0,0.156055
25,60,716,47.0,28.2,94,39,9.0,35.44,2,0.457640
26,168,925,79.0,47.4,158,49,18.0,49.72,0,0.668580
27,41,498,12.0,7.2,24,19,15.0,41.85,2,0.153415
28,120,317,35.0,21.0,70,4,18.0,50.90,0,0.189750
29,38,180,80.5,48.3,161,40,18.0,1.26,2,0.801710

In [12]:
#data_matrix is the user x post matrix, which has rating of user i for the post j

data_matrix = np.zeros((users_n+1, posts_n+1))

In [13]:
# data matrix . rows are users and columns are variables. the value at data_matrix[i][j]=rating for post j by user i.
for line in post.itertuples():
    data_matrix[line[1],line[2]]=line[10]

In [14]:
#Similarities are found using user-user similarity and cosine matrix
from sklearn.metrics.pairwise import pairwise_distances 
user_similarity = pairwise_distances(data_matrix, metric='cosine')
post_similarity = pairwise_distances(data_matrix.T, metric='cosine')

In [15]:
#A predict function is defined that will be used to define
def predict(ratings, similarity):
    pred = ratings.dot(similarity) / np.array([np.abs(similarity).sum(axis=1)])
    return pred

In [16]:
#prediction is done using predict function
post_prediction = predict(data_matrix, post_similarity)

In [17]:
#Getting the index of the predicted posts in ascending order
post_prediction.argsort()

array([[   0,  658,  659, ...,  341,  328, 1000],
       [ 981,  702, 1000, ...,  692,  646,  169],
       [ 517,   43,  604, ...,  480,  878,  525],
       ...,
       [ 483,  723,  590, ...,  653,  952,  796],
       [ 386,  784,   29, ...,  752,  601,  416],
       [  38,  301,   41, ...,  326,    4,  759]], dtype=int64)

In [18]:
#no_post= number of post want to suggest to each user
no_post=40
predict_post=np.argsort(-post_prediction)[:,:no_post] #making a new array with predictions of each users
predict_post[5] #visualization of prediction of a random user

array([ 92, 177, 879, 960, 871, 929, 352, 464, 634, 106, 749, 809, 687,
       615, 623, 787, 689, 384, 900, 741, 357, 919, 820, 467, 584, 930,
        53, 153, 578, 655, 925, 486, 898, 327, 344, 291,  33, 534, 796,
       440], dtype=int64)

In [19]:
#giving user_ids to prediction for better viewing the results
predict_item=pd.DataFrame({'user_id':[] , 'post_ids':[]})

for i in range(1,users_n+1):
    predict_item = predict_item.append({'user_id': i, 'post_ids':predict_post[i]}, ignore_index=True)
    
predict_item.user_id.astype='int'

In [20]:
#Viewing the prediction with user_ids
predict_item.head()

   user_id                                           post_ids
0      1.0  [169, 646, 692, 696, 133, 125, 537, 281, 929, ...
1      2.0  [525, 878, 480, 391, 632, 415, 657, 442, 161, ...
2      3.0  [873, 502, 372, 158, 991, 824, 505, 447, 890, ...
3      4.0  [127, 307, 25, 389, 173, 527, 148, 339, 835, 8...
4      5.0  [92, 177, 879, 960, 871, 929, 352, 464, 634, 1...

In [21]:
#writing the prediction in excel sheet
writer = pd.ExcelWriter('Task - 1.xlsx', engine = 'xlsxwriter')
post.to_excel(writer, sheet_name = 'Raw_data', index = False)
predict_item.to_excel(writer, sheet_name = 'Predicted_output', index = False)
writer.save()
writer.close()